<div class="container py-5">
  <h1>Hi Admin, here you can see, edit and delete Games</h1>
  <h2>Have fun!</h2>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 w-100">

    <ng-container matColumnDef="title" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="release" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Release </th>
      <td mat-cell *matCellDef="let element"> {{element.release | date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="description" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="rating" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.rating}} </td>
    </ng-container>

    <ng-container matColumnDef="companyId" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
      <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
    </ng-container>

    <ng-container matColumnDef="modes" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modes </th>
      <td mat-cell *matCellDef="let element"> {{getModes(element.modes)}} </td>
    </ng-container>

    <ng-container matColumnDef="platforms" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Platforms </th>
      <td mat-cell *matCellDef="let element"> {{getPlatforms(element.platforms)}} </td>
    </ng-container>

    <ng-container matColumnDef="genres" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Genres </th>
      <td mat-cell *matCellDef="let element"> {{getGenres(element.genres)}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-icon-button (click)="editGame(element)">
        <mat-icon class="material-symbols-rounded filled">border_color</mat-icon>
      </button>
      <button mat-icon-button (click)="removeGame(element)">
        <mat-icon class="material-symbols-rounded filled">delete_forever</mat-icon>
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


  </table>
</div>
