<form [formGroup]="resetPasswordForm" novalidate>
  <div class="row">
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Pippo" formControlName="userName">
          <mat-icon matSuffix color="text-disable">person_off</mat-icon>
          <mat-hint>Username</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@email.net" formControlName="email">
          <mat-icon matSuffix color="text-disable">mail_lock</mat-icon>
          <mat-hint>Email</mat-hint>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput placeholder="example123" formControlName="password" type="password">
          <mat-icon matSuffix color="text-disable">lock_open</mat-icon>
          <mat-hint>Write your new Password</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="example123" formControlName="confirmPassword" type="password">
          <mat-icon matSuffix color="text-disable">lock</mat-icon>
          <mat-hint>Please confirm your new Password</mat-hint>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center"><button mat-button (click)="onSubmit()">Confirm Edit</button></div>
  </div>
</form>
