<div class="container py-5">
  <h1>Hi Admin, here you can see, edit and delete Platforms</h1>
  <h2>Have fun!</h2>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 w-100">

    <ng-container matColumnDef="id" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Platform </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" class="p-5 m-5">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-icon-button (click)="editPlatform(element)">
        <mat-icon class="material-symbols-rounded filled">border_color</mat-icon>
      </button>
      <button mat-icon-button (click)="removePlatform(element)">
        <mat-icon class="material-symbols-rounded filled">delete_forever</mat-icon>
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
