<div class="container">
  <form [formGroup]="editCompanyForm" novalidate>
    <mat-form-field>
      <mat-label>Company Name</mat-label>
      <input matInput placeholder="Devolver Studios" formControlName="name" #name>
      <mat-hint>Write the Company's new Name</mat-hint>
      <mat-error>Name is REQUIRED</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Company Description</mat-label>
      <input matInput placeholder="Game studio and Indie producer" formControlName="description" #description>
      <mat-hint>Write the Company's new Description</mat-hint>
      <mat-error>Description is REQUIRED</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Company Website</mat-label>
      <input matInput placeholder="devolverstudios.com" formControlName="website" #website>
      <mat-hint>Write the Company's new website</mat-hint>
      <mat-error>Website is REQUIRED</mat-error>
    </mat-form-field>

    <div class="text-center"><button mat-button (click)="onSubmit()">Confirm Edit</button></div>
  </form>
</div>
