<app-toolbar [drawer]="drawer"></app-toolbar>

<mat-sidenav-container class="sidenav-container" autosize [hasBackdrop]=backdrop>
  <mat-sidenav class="sidenav pt-3" [mode]=navMode opened="true" [autoFocus]=false #drawer>
    <mat-nav-list class="d-grid gap-1">
      <div *ngFor="let item of menu">
        <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.link">
          <div class="d-flex align-items-center gap-4">
            <div>
              <mat-icon class="material-symbols-rounded w-auto h-auto" routerLinkActive="filled" style="font-size:28px;"
                [routerLinkActiveOptions]="{exact: true}">{{item.icon}}</mat-icon>
            </div>
            <div>{{item.name}}</div>
          </div>
        </a>
      </div>
      <div *ngIf="isAdmin" class="d-grid gap-1">
        <hr class="my-1 text-muted">
        <ng-container *ngFor="let item of loggedMenu">
          <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.link">
            <div class="d-flex align-items-center gap-4">
              <div>
                <mat-icon class="material-symbols-rounded" routerLinkActive="filled"
                  [routerLinkActiveOptions]="{exact: true}">{{item.icon}}</mat-icon>
              </div>
              <div>{{item.name}}</div>
            </div>
          </a>
        </ng-container>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <div class="sidenav-content">
    <div class="main-container py-3 px-4 px-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
