.mat-drawer-backdrop.mat-drawer-shown{
  background-color: rgb(131 134 169 / 60%);
}

.mat-card {
  max-width: 400px;

  .mat-card-header {
    justify-content: center;
  }

  .mat-input-element:focus {
    outline: none !important;
    border-color: #7b1fa2;
    box-shadow: 0 0 20px #7b1fa2;
  }

}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
  color: whitesmoke!important;
  font-size: 1rem;
  font-weight: 500;
}
