<form [formGroup]="editUserForm" novalidate>
  <div class="row">
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Pippo" formControlName="userName">
          <mat-icon class="material-symbols-rounded filled" matSuffix>person</mat-icon>
          <mat-hint>Write a Username</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Gianfranco" formControlName="firstName">
          <mat-icon class="material-symbols-rounded filled" matSuffix color="text-disable">description</mat-icon>
          <mat-hint>Write the first name</mat-hint>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Fini" formControlName="lastName">
          <mat-icon class="material-symbols-rounded filled" matSuffix color="text-disable">description</mat-icon>
          <mat-hint>Write its last name</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <div class="col-6">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@fortgames.net" formControlName="email">
          <mat-icon class="material-symbols-rounded filled text-muted" matSuffix color="text-disable">mail</mat-icon>
          <mat-hint>Write its email</mat-hint>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="row">

    <div class="col-12 text-center"><button mat-button (click)="onSubmit()">Confirm Edit</button></div>

  </div>
</form>
