<h1>Welcome back</h1>
<div class="py-4" *ngIf="details">
  <div class="row">
    <div class="col">
      <img [src]="photo(details.profilePicture!)">
    </div>
    <div class="col">
      <div>
        <p class="mat-body-2 text-muted m-0">Username</p>
        <p class="mat-body">{{details.userName!}}</p>
      </div>

      <div>
        <p class="mat-body-2 text-muted m-0">First Name</p>
        <p>{{details.firstName!}}</p>
      </div>

      <div>
        <p class="mat-body-2 text-muted m-0">Last Name</p>
        <p>{{details.lastName!}}</p>
      </div>

      <div>
        <p class="mat-body-2 text-muted m-0">E-mail</p>
        <p>{{details.email!}}</p>
      </div>
      <button mat-flat-button (click)="editName(details)">Edit</button>
    </div>
  </div>
</div>

<div>
  <form [formGroup]="pictureForm" (ngSubmit)="editPhoto()">
    <mat-form-field appearance="outline">
      <mat-label>base64</mat-label>
      <input matInput formControlName="profilePicture">
    </mat-form-field>
  </form>
  <!-- <button mat-flat-button (click)="editPhoto()">edit picture</button> -->
</div>

<!--
  CAMPI NECESSARI
   immagine profilo;
   lista di giochi preferiti dal 6 in su;
   lista dei giochi già giocati (non è necessario il voto);

  CAMPI OPZIONALI
   creazione avatar tipo reddit;
   preferenze wishlist con prezzi in offerta;
-->
