/* You can add global styles to this file, and also import other style files */
@import 'sass/variables';
@import 'sass/mixins';

/* Boostrap */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// CUSTOM CONTAINER
.main-container {
  @include make-container();
  @extend .container;
  max-width: 1600px;
}

// TOOLBAR
:root {
  --toolbar-height: 64px;
}

// ICON
.filled {
  @include fill;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgb(131 134 169 / 60%);
}

.mat-card {
  max-width: 400px;

  .mat-card-header {
    justify-content: center;
  }

  .mat-input-element:focus {
    outline: none !important;
    border-color: #7b1fa2;
    box-shadow: 0 0 20px #7b1fa2;
  }

}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
  color: whitesmoke !important;
  font-size: 1rem;
  font-weight: 500;
}


.mat-selected {
  color: #e19aff !important;
}

.mat-header-cell {
  background-color: #7b1fa2;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
}
